.l1{
    list-style-type: none;
    text-align: center;
    
}

.l2{
    margin-top: -20px;
    margin-left: 400px;
    list-style-type: none;
    text-align: left;
}
.l3{
    margin-right:400px;
    text-align: right;
    list-style-type: none;
}